<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ title }}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="noarchive" name="robots"/>
    <link href="/favicon.ico" rel="shortcut icon"/>
    <link href="/style.css" media="screen" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
</head>
<body>
<div id="header">
    <h1>{{ title }}</h1>
</div>
<div id="contents">
    <div id="directories">
        <table id="dirtable">
            <tr>
                <th><img src="/icons/folder.png" alt="folder"/></th>
                <th>Name</th>
            </tr>
            {% for dir in directories %}
            <tr>
                <td><a href="{{ dir.path }}"><img src="{{ dir.icon }}" alt="{{ dir.icon_alt }}"/></a></td>
                <td><a href="{{ dir.path }}">{{ dir.name }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="files">
        <table id="filetable">
            <tr>
                <th><img src="/icons/blank.png" alt="blank"/></th>
                <th>Name</th>
                <th>Last modified</th>
                <th>Size</th>
            </tr>
            {% for file in files %}
            <tr>
                <td><a href="{{ file.path }}"><img src="{{ file.icon }}" alt="{{ file.icon_alt }}"/></a></td>
                <td><a href="{{ file.path }}">{{ file.name }}</a></td>
                <td>{{ file.modified_date }}</td>
                <td>{{ file.size }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div id="footer">
</div>
</body>
</html>

